<%= content_for(:title, "Station deleted | Bus Stations") %>

<h1>Station deleted</h1>

<p>Would you like to <a href="/stations">see all the stations</a>, or <a href="/stations/new">create a new one</a>?</p>
