<%= content_for(:title, "Station saved | Bus Stations") %>

<h1>Station saved!</h1>

<p>Your station was successfully saved.</p>

<p><a href="/stations/<%= @station.id %>">View <%= @station.name %></a></p>

<p><a href="/stations">Return to station listing</a></p>
